@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
html {
  scroll-behavior: smooth;
}

body {
  background-color: #020c1b;
  color: #a8b2d1;
  font-family: "Poppins", Helvertica, sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 2px solid #495670;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #64ffda;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
a:focus, a:hover {
  color: #57cbff;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: transparent;
}

.button {
  display: block;
  padding: 16px;
  color: #64ffda;
  background-color: #0a192f;
  border: 2px solid #64ffda;
  border-radius: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 14pt;
}
.button:hover, .button:focus {
  background-color: rgba(2, 12, 27, 0.7);
  color: #57cbff;
  border-color: #57cbff;
  box-shadow: 0 0 10px #57cbff;
}

nav {
  padding: 30px 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
nav .logo {
  padding: 0 10px;
}
nav .logo a {
  border: 2px solid;
  border-radius: 3px;
  display: block;
}
nav .logo a img {
  width: 50px;
}
nav .logo :focus, nav .logo :hover {
  box-shadow: 0 0 10px #57cbff;
}
nav .mobile-navbar {
  display: none;
}
nav .navbar {
  display: flex;
}
nav .navbar ul {
  display: flex;
  margin-right: 15px;
  padding-top: 3px;
}
nav .navbar ul .navbutton {
  list-style: none;
}
nav .navbar ul .navbutton a {
  padding: 10px;
}
nav .navbar .button {
  display: flex;
}

.terminaltext {
  color: #64ffda;
  font-family: "Courier New", monospace;
  font-size: 16pt;
  margin: 0;
}

h1, h2, h3 {
  margin: 5px 0;
}

h1 {
  color: #e6f1ff;
  font-size: clamp(40px, 6vw, 80px);
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #8892b0;
  font-size: clamp(30px, 4vw, 60px);
}

h3 {
  color: #a8b2d1;
  font-size: 16pt;
}

p {
  line-height: 1.6;
}

.side {
  position: fixed;
  display: flex;
  bottom: 0;
  flex-direction: column;
}
.side:after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

#leftside {
  left: 40px;
}
#leftside a {
  margin-bottom: 25px;
  border: 2px solid;
  border-radius: 4px;
}
#leftside a:focus, #leftside a:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 10px #57cbff;
}

#rightside {
  right: 40px;
}
#rightside a {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  margin: 25px 0;
  font-size: 12pt;
}
#rightside a:focus, #rightside a:hover {
  transform: translateY(-3px);
  color: #57cbff;
}

#content {
  margin: 0 50px;
  padding: 0 100px;
}
#content section {
  margin-top: 150px;
}
#content section article {
  margin: 30px 0;
}
#content #intro {
  margin: 50px 0 200px 0;
}
#content #intro h1 {
  margin-bottom: 25px;
  transition-delay: 100ms;
}
#content #intro #name {
  transition-delay: 200ms;
}
#content #intro h2 {
  margin-bottom: 15px;
}
#content #intro .button {
  margin: 100px 0;
  width: 220px;
}
#content #contact {
  text-align: center;
  margin-bottom: 150px;
}
#content #contact .button {
  margin: 60px auto;
  width: 200px;
}

footer div {
  margin-bottom: 25px;
  text-align: center;
  padding: 0 100px;
}
footer div p {
  color: #57cbff !important;
  font-size: 12pt !important;
}

/*


320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/
.mobile-navbar .mobile-button {
  display: block;
  background: #64ffda;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  z-index: 2;
  position: fixed;
}
.mobile-navbar .mobile-button:before {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  margin: 0px auto;
  background-color: #a8b2d1;
}
.mobile-navbar .mobile-button:after {
  content: "";
  display: block;
  width: 5px;
  height: 1px;
  margin: 0px auto;
  background-color: #a8b2d1;
}
.mobile-navbar .mobile-menu {
  background-color: #112240;
  width: 300px;
  display: none;
  z-index: 1;
  position: fixed;
  padding-top: 100px;
}
.mobile-navbar .mobile-menu ul {
  margin: 0;
  padding: 0;
}
.mobile-navbar .mobile-menu ul .navbutton {
  list-style: none;
}
.mobile-navbar .mobile-menu ul .navbutton a {
  display: block;
  margin: auto;
  width: 200px;
  padding: 20px 0;
}
.mobile-navbar .mobile-menu a {
  width: 150px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  #leftside, #rightside {
    display: none;
  }
  nav .navbar {
    display: none;
  }
  nav .mobile-navbar {
    display: block;
  }
  nav .mobile-navbar:focus-within .mobile-button:before {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    margin: 0px auto;
    background-color: #57cbff;
  }
  nav .mobile-navbar:focus-within .mobile-button:after {
    content: "";
    display: block;
    width: 5px;
    height: 1px;
    margin: 0px auto;
    background-color: #57cbff;
  }
  nav .mobile-navbar:focus-within .mobile-menu {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
