@import 'variables';
/*  @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700); */



$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;


$header1: $open-sans;



html {
    scroll-behavior: smooth;
}
body {
    background-color: $dark-navy;
    color: $light-slate;
    font-family: $fonts;
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar {
    background-color: $light-navy;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-slate;
    border: 2px solid $dark-slate;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: $green;
    transition: $transition;
    &:focus, &:hover {
        color: $blue;
    }
}


button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
}




.button {
    display: block;
    padding: 16px;
    color: $green;
    background-color: $navy;
    border: 2px solid $green;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 14pt;

    &:hover, &:focus {
        background-color: $navy-shadow;
        color: $blue;
        border-color: $blue;
        box-shadow: 0 0 10px $blue;
    }


}



nav {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
    height: 110px;
    box-shadow: 0 10px 15px 0 $light-navy;
    background-color: $dark-navy;
    

    .logo {
        padding: 0 10px;
        position: fixed;
        top: 30px;
        left: 20px;
        a  {
            border: 2px solid;
            border-radius: 3px;
            display: block;

            img {
                width: 50px;
            }
        }:focus,:hover {
            box-shadow: 0 0 10px $blue;
        }
    }

    .mobile-navbar {
        display: none;
    }

    .navbar {
        display: flex;
        position: absolute;
        right: 35px;

        ul {
            display: flex;
            margin-right: 15px;
            

            .navbutton {
                margin-top: 30px;
                list-style: none;
                a {
                    padding: 10px;
                }
                &:last-child {
                    margin-top: 15px;
                    padding-left: 20px;
                }
            }

        }

        .button {
            display: flex;
        }

    }
}





.terminaltext {
    color: $green;
    font-family: 'Courier New', monospace;
    font-size: 16pt;
    margin: 0;
}



h1, h2, h3 {
    margin: 5px 0;
}

h1 {
    color: $white;
    font-size: clamp(40px, 6vw, 80px);
    font-family: $header1;
}
h2 {
    color: $slate;
    font-size: clamp(30px, 4vw, 60px);
    font-family: Arial Black;
}
h3 {
    color: $light-slate;
    font-size: 16pt;
    font-family: Arial;
}

p {
    line-height: 1.6;
    font-family: Verdana;
}



.side {
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: $light-slate;
    }
}

#leftside {
    left: 40px;
    
    a {
        margin-bottom: 25px;
        border: 2px solid;
        border-radius: 4px;
    
        &:focus,&:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px $blue;
        }
    }


}

#rightside {
    right: 40px;

    a {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        margin: 25px 0;
        font-size: 12pt;
        
    
        &:focus, &:hover {
            transform: translateY(-3px);
            color: $blue;
        }
        
    }

}



#content {
    margin: 200px 50px 0 50px;
    padding: 0 100px;

    section {
        margin-top: 150px;
        
        article {
            margin: 30px 0;
        }
    }

    #intro {
        margin: 50px 0 200px 0;

        h1 {
            margin-bottom: 25px;
            transition-delay: 100ms;
        }
        #name {
            transition-delay: 200ms;
        }


        h2 {
            margin-bottom: 15px;
        }

        .button {
            margin: 100px 0;
            width: 220px;
        }
    }

    #career ul {
        li {
            list-style-type: none;
            padding: 5px 0;
            font-family: Times New Roman;
    
            &:before {
                content: "▹";
                position: absolute;
                left: -40px;
                color: $blue;
                line-height: 18px;
            }
        }
    }

    #contact {
        text-align: center;
        margin-bottom: 150px;

        .button {
            margin: 60px auto;
            width: 200px;
        }
    }
}


footer div {
    margin-bottom: 25px;
    text-align: center;
    padding: 0 100px;

    p {
        color: $blue !important;
        font-size: 12pt !important;
    }
}



/* ----------------------------------------------
 * Generated by Animista on 2022-9-15 14:15:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }



.slide-in-right {
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  


.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
  
.focus-in-expand {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  



.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


/* ----------------------------------------------
 * END
 * ---------------------------------------------- */








/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/




.mobile-navbar {
    

    .toggle-menu-button {
        display: block;
        margin: 0 31px;
        top: 30px;
        right: 0;       
        z-index: 2;
        position: fixed;
        padding: 11px;

        div {
            width: 25px;
            height: 2px;
            background-color: $green;
            margin: 4px 0;
        }
    

        

    }



    #mobile-menu-list {
        background-color: $light-navy;
        width: 200px; 
        display: none;
        z-index: 1;
        position: fixed;
        padding: 100px 50px 30px 50px;
        margin: 0;
        text-align: center;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
            
        .navbutton {
            list-style: none;
            
            &:hover, &:focus {
                background-color: $navy-shadow;
                color: $blue;
                border-color: $blue;
                box-shadow: 0 0 10px $blue;
                border-radius: 2px;
            }

            &:last-child {
                margin-top: 15px;
            }

            a {
                display: block;
                margin: auto;
                padding: 30px 0;

            }
        }
    

    }


}


@media screen and (max-width: 768px)  {

    #content {
        margin: 200px 25px 0 25px;
        padding: 0 20px;

        #intro .button {
            margin: 50px 0;
            width: 220px;
        }

    }

    /*no good way to blur without adding this class to body using javascript.  came close but initials logo would also cause blur*/
    .blur  {
        overflow: hidden;
        
        main, nav .logo, .footer {
            
            transition: $transition;
            pointer-events: none;
            user-select: none;
        }
        main, .footer {
            filter: blur(5px) brightness(0.7);
        }
        
    }



    #leftside, #rightside {
        display: none;
    }

    nav {
        
        width: 0;
        padding: 55px 20px;
        box-shadow: none;

        .navbar {
            display: none;
        }

        .mobile-navbar {
            display: block;

            &.menu-open {

                #mobile-menu-list {
                    display: block;

                    a {
                        display: block;
                    }
                }

        
            }
        }
    }

}