@import 'variables';
/*  @import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700); */



$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;


$header1: $open-sans;



html {
    scroll-behavior: smooth;
}
body {
    background-color: $dark-navy;
    color: $light-slate;
    font-family: $fonts;
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $dark-slate;
    border: 2px solid $dark-slate;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: $green;
    transition: $transition;
    &:focus, &:hover {
        color: $blue;
    }
}


button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
}


/*no good way to blur without adding this class to body using javascript.  came close but initials logo would also cause blur*/
.blur  {
    overflow: hidden;
    
    main, nav .logo {
        
        transition: $transition;
        pointer-events: none;
        user-select: none;
    }
    main {
        filter: blur(5px) brightness(0.7);
    }
}

.button {
    display: block;
    padding: 16px;
    color: $green;
    background-color: $navy;
    border: 2px solid $green;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 14pt;

    &:hover, &:focus {
        background-color: $navy-shadow;
        color: $blue;
        border-color: $blue;
        box-shadow: 0 0 10px $blue;
    }


}



nav {
    padding: 30px 20px;
    display: flex;
    
    -webkit-box-pack: justify;
    justify-content: space-between;
    

    .logo {
        padding: 0 10px;
        position: fixed;
        top: 30px;
        left: 20px;
        a  {
            border: 2px solid;
            border-radius: 3px;
            display: block;

            img {
                width: 50px;
            }
        }:focus,:hover {
            box-shadow: 0 0 10px $blue;
        }
    }

    .mobile-navbar {
        display: none;
    }

    .navbar {
        display: flex;
        position: absolute;
        right: 40px;


        ul {
            display: flex;
            margin-right: 15px;
            

            .navbutton {
                margin-top: 14px;
                list-style: none;
                a {
                    padding: 10px;
                }
                &:last-child {
                    margin-top: 0;
                    padding-left: 20px;
                }
            }

        }

        .button {
            display: flex;
        }

    }
}





.terminaltext {
    color: $green;
    font-family: 'Courier New', monospace;
    font-size: 16pt;
    margin: 0;
}



h1, h2, h3 {
    margin: 5px 0;
}

h1 {
    color: $white;
    font-size: clamp(40px, 6vw, 80px);
    font-family: $header1;
}
h2 {
    color: $slate;
    font-size: clamp(30px, 4vw, 60px);
}
h3 {
    color: $light-slate;
    font-size: 16pt;
}

p {
    line-height: 1.6;
}



.side {
    position: fixed;
    display: flex;
    bottom: 0;
    flex-direction: column;
    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: $light-slate;
    }
}

#leftside {
    left: 40px;
    
    a {
        margin-bottom: 25px;
        border: 2px solid;
        border-radius: 4px;
    
        &:focus,&:hover {
            transform: translateY(-3px);
            box-shadow: 0 0 10px $blue;
        }
    }


}

#rightside {
    right: 40px;

    a {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        margin: 25px 0;
        font-size: 12pt;
        
    
        &:focus, &:hover {
            transform: translateY(-3px);
            color: $blue;
        }
        
    }

}



#content {
    margin: 200px 50px 0 50px;
    padding: 0 100px;

    section {
        margin-top: 150px;
        
        article {
            margin: 30px 0;
        }
    }

    #intro {
        margin: 50px 0 200px 0;

        h1 {
            margin-bottom: 25px;
            transition-delay: 100ms;
        }
        #name {
            transition-delay: 200ms;
        }


        h2 {
            margin-bottom: 15px;
        }

        .button {
            margin: 100px 0;
            width: 220px;
        }
    }

    #career ul {
        li {
            list-style-type: none;
            padding: 5px 0;
    
            &:after {
                content: "▹";
                position: absolute;
                left: 160px;
                color: $blue;
                line-height: 15px;
            }
        }
    }

    #contact {
        text-align: center;
        margin-bottom: 150px;

        .button {
            margin: 60px auto;
            width: 200px;
        }
    }
}


footer div {
    margin-bottom: 25px;
    text-align: center;
    padding: 0 100px;

    p {
        color: $blue !important;
        font-size: 12pt !important;
    }
}






/*


320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV

*/




.mobile-navbar {
    

    .toggle-menu-button {
        display: block;
        margin: 0 31px;

        right: 0;

        
        z-index: 2;
        position: fixed;

        width: 30px;
        height: 2px;
        border-radius: 4px;
        background-color: var(--green);
        transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
        transform: rotate(0deg);


        &:before {
            width: 120%;
            top: -10px;
            opacity: 1;
            
        }
        &:after{
            width: 80%;
            bottom: -10px;
            transform: rotate(0deg);
            
        }
    }



    #mobile-menu-list {
        background-color: $light-navy;
        width: 300px; 
        display: none;
        z-index: 1;
        position: fixed;
        padding: 100px 50px 30px 50px;
        margin: 0;
        text-align: center;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
            
        .navbutton {
            list-style: none;
            &:last-child {
                margin-top: 15px;
            }

            a {
                display: block;
                margin: auto;
                padding: 30px 0;

            }
        }
    

    }


}


@media screen and (max-width: 768px)  {

    #leftside, #rightside {
        display: none;
    }

    nav {

        .navbar {
            display: none;
        }

        .mobile-navbar {
            display: block;


            .toggle-menu-button.open {
                margin: 0 39px;
                

                &:before {

                    width: 100%;
                    top: 0px;
                    
                    
                }
                &:after{

                    width: 100%;
                    bottom: 0px;
                    transform: rotate(-90deg);
                    
                }
                
            }

            &.menu-open {

                #mobile-menu-list {
                    display: block;

                    a {
                        display: block;
                    }
                }

        
                }
        }
    }

}